.main_div {
    display: flex;

    height: 100vh;
    position: relative;

}

.div_l {
    flex: 1;

}

.img {

    position: absolute;
    width: 321px;
    height: 321px;
    left: 167px;
    top: 352px;




}

.div_r {

    flex: 1;
    top: 0px;
    background-color: #ECF8F9;

}

.center {

    display: flex;
    justify-content: center;


}

.para1 {

    display: flex;
    justify-content: center;

}


.input {

    display: flex;
    /* justify-content: center; */
    margin: 0px auto;

    margin-top: 10px;
    opacity: 0.5;
    border-radius: 5px;



}

.btn {
    display: flex;
    margin: 0px auto;
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgb(141, 216, 28);


    left: 182px;
    right: 176px;
    top: 663px;
    bottom: 303px;


}